video {
  display: block;
  margin: auto;
}

body { 
  padding-top: 70px;  /*for navbar*/ 
}

h2 {
  text-align: center;
  text-decoration: underline;
}


.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

#intro h1 {
	text-align: center;
}

.navbar-nav {
	width: 100%;
  text-align: center;
}

.navbar-nav > li, .navbar-nav .navbar-brand {
    float: none;
    display: inline-block;
    margin: 0 15px;
    opacity: 1;
 }


#game {
  position: absolute;
  top: 0px;
}

.navbar {
  opacity: 0.9;
}

#music {
  padding-top: 20px;
}

#socialnav a img {
  padding-right: 10px;
}