.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

img {
	display: block;
	margin: auto;
}

#intro h1 {
	text-align: center;
}

.navbar-nav {
	width: 100%;
    text-align: center;
}

.navbar-nav > li, .navbar-nav .navbar-brand {
    float: none;
    display: inline-block;
 }



