img {
  margin: auto;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

#intro h1 {
	text-align: center;
}

.navbar-nav {
	width: 100%;
  text-align: center;
}

.navbar-nav > li, .navbar-nav .navbar-brand {
    float: none;
    display: inline-block;
    margin: 0 15px;
 }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row-eq-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

