
circle.wheel {
	fill: white;
	stroke: black;
	stroke-width: 5;
}

rect.background {
	fill: grey;
}

.biker {
	stroke-width: 20;
	stroke: #EED033;
	stroke-linecap: round;
}

#bod {
	stroke-width: 30;
}

.ground {
	fill: brown;
}